<div>

  <div class="top-left">
      <div ng-repeat="con in fixedConfigs track by con.key" ng-width="con.width" class="fix-col-{{::$index}}">{{con.label}}</div>

  </div>
  <div class="top">
    <div class="panel">
      <div ng-repeat="con in normalConfigs track by con.key" ng-width="con.width" class="nor-col-{{::$index}}">{{con.label}}</div>
    </div>


  </div>

  <div class="left">
    <div class="panel">
      <div  ng-repeat="row in data track by $index">
        <div ng-repeat="con in fixedConfigs track by con.key" ng-width="con.width" class="fix-col-{{::$index}}">
          <div ng-show="con.html" ng-include="con.html">

          </div>
          <div ng-show="!con.html" ng-bind="row[con.key]">

          </div>


        </div>
      </div>
    </div>


  </div>
  <div class="main">
    <div class="panel">
    <div  ng-repeat="row in data track by $index">
      <div ng-repeat="con in normalConfigs track by con.key" ng-width="con.width" class="nor-col-{{::$index}}">
        <div ng-show="con.html" ng-include="con.html">

        </div>
        <div ng-show="!con.html" ng-bind="row[con.key]">

        </div>
      </div>
    </div>
      </div>
  </div>
</div>
