<div>

  <div class="top-left">
      <div ng-repeat="con in fixedConfigs track by con.key" class="fix-col-{{::$index}}">{{con.label}}</div>

  </div>
  <div class="top">
    <div class="panel">
      <div ng-repeat="con in normalConfigs track by con.key" class="nor-col-{{::$index}}">{{con.label}}</div>
    </div>


  </div>

  <div class="left">
    <div class="panel">
      <div  ng-repeat="row in data">
        <div ng-repeat="con in fixedConfigs track by con.key" class="fix-col-{{::$index}}">
          {{row[con.key]}}
        </div>
      </div>
    </div>


  </div>
  <div class="main">
    <div class="panel">
    <div  ng-repeat="row in data">
      <div ng-repeat="con in normalConfigs track by con.key" class="nor-col-{{::$index}}">
        {{row[con.key]}}
      </div>
    </div>
      </div>
  </div>
</div>
